.sort-table {
  clear: both;
  overflow: hidden;
}
.sort-table .title-sort {
  float: left;
  display: block;
}
.sort-table .form-item-wrapper {
  zoom: 1;
}

.calendar-header .time,
.calendar-header .text-event {
  display: inline;
  zoom: 1;
}
.calendar-header .item-event {
  display: inline;
  zoom: 1;
}

.pager-wrapper .item-list .pager,
.pager-wrapper-2 .item-list .pager {
  display: inline;
}

.page-intagram .share-wrapper li {
  display: inline;
}

.footer-type-2 .footer-navigation .menu .menu-item.active {
  background: url("../images/sprite/arrow-footer-menu.png") no-repeat 45% 0;
}

.page-intagram .content-info-wrapper {
  padding-left: 5px;
}

.contact-form-wrapper .form-actions {
  margin-right: 20px;
}
.contact-form-wrapper .form-item {
  margin-right: 0;
}
