.page-type-1 .navigation .menu .item-3 a {
  padding-top: 11px;
}
.page-type-1 .navigation .menu .item-2 a {
  padding-top: 15px;
}
.page-type-1 .navigation .menu .item-1 a {
  padding-top: 12px;
}
.page-type-1 .navigation .menu .item-0 a {
  padding-top: 23px;
}
